<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <header class="site-header" role="banner">

        <div class="wrapper"><a class="site-title" rel="author" href="/">Chopped Puzzles 🍕</a>
              <div style="float: right; line-height: 54px;"><a class="page-link" style="color: #111; " href="/archive.html">Archive</a></div></div>
      </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>